absl-py==0.9.0
astor==0.8.1
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
decorator==4.4.1
filelock==3.0.12
gast==0.3.3
gdown==3.10.1
grpcio==1.26.0
h5py==2.10.0
idna==2.8
imageio==2.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
livermask==0.1
Markdown==3.2
matplotlib==3.1.3
mock==4.0.1
networkx==2.4
nibabel==3.0.1
numpy==1.18.1
Pillow==7.0.0
protobuf==3.11.3
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
PyWavelets==1.1.1
requests==2.22.0
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
tensorboard==1.13.1
tensorflow==1.15.4
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.42.1
urllib3==1.25.8
Werkzeug==1.0.0
